# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.*

# Optional npm cache directory
.npm

# Coverage directory used by tools like istanbul
coverage/

# c8 test coverage directory
.c8/

# Logs
logs/
*.log
